{% load staticfiles %}

<html>
  <head>
    <title>Welcome | Doctor App</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="base-page" class="container-fluid">
      {% if user.is_authenticated %}
        <div class="container page-header">
          <div class="logged-in-user">
            <b>Hello {{ user.username }}</b>
          </div>
          <div class="log-out">
            <p class="top-menu"><small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>
          </div>
        </div>
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
