{% extends 'base.html' %}

{% block content %}

<div id="patient-page" class="container-fluid">

  <div class="container appointment-history">
    <h5><b><u>Appointment History</u></b></h5>
    <p class="suggestion">(Green appointment indicates the approved appointments, please provide feedback for these appointments)</p>
    {% for appointment in appointment_history %}
      {% if appointment.approved_status == 'approved' %}
      <div class="appointment-approved">
        <a href="{% url 'feedback_page' pk=appointment.pk %}"><b><u>{{ appointment.doctor }}</u></b>: {{ appointment.appointment_message }}. <b><u>Time</u></b>: {{ appointment.appointment_time }}</a>
      {% else %}
      <div class="appointment">
        <b><u>{{ appointment.doctor }}</u></b>: {{ appointment.appointment_message }}. <b><u>Time</u></b>: {{ appointment.appointment_time }}
      {% endif %}
      </div>
    {% endfor %}
  </div>

  <div class="container approved-appointments">
    <h5><b><u>Approved Appointments</u></b></h5>
    {% for appointment in approved_appointments %}
      <div class="appointment">
        <b><u>{{ appointment.doctor }}</u></b>: {{ appointment.appointment_message }}. <b><u>Time</u></b>: {{ appointment.appointment_time }}
      </div>
    {% endfor %}
  </div>

  <div class="container approved-appointments">
    <h5><b><u>Appointments to be approved</u></b></h5>
    {% for appointment in pending_appointments %}
      <div class="appointment">
        <b><u>{{ appointment.doctor }}</u></b>: {{ appointment.appointment_message }}. <b><u>Time</u></b>: {{ appointment.appointment_time }}
      </div>
    {% endfor %}
  </div>

  <div class="container feedbacks-given">
    <h5><b><u>Feedbacks Given</u></b></h5>
    {% for feedback in feedbacks_given %}
      <div class="appointment">
        <b><u>{{ feedback.doctor }}</u></b>: {{ feedback.feedback_given }}. <b><u>Time</u></b>: {{ feedback.feedback_time }}
      </div>
    {% endfor %}
  </div>

  <div class="container edit-profile">
    <a href="#" class="btn btn-default" role="button">Edit profile</a> 
  </div>

  <div class="container new-appointment">
    <h3><b>New Appointment</b></h3>
    <form method="POST" class="appointment-form">{% csrf_token %}
        {{ form.as_p }}
        <p class="suggestion">Please enter date in this format: "2015-12-26 11:45:12"</p>
        <button type="submit" class="save btn btn-default">Send Request</button>
    </form>
  </div>

</div>

{% endblock %}
